node_modules/
dist/
build/
ignore/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Сборщики и временные файлы
*.log
*.tmp
.cache/
.parcel-cache/
*.local
*.env
.env.*

# Mac специфическое
Icon?
._*

